asgiref==3.11.0
boto3==1.42.1
botocore==1.42.1
dj-database-url==2.1.0
Django==5.2.8
django-cors-headers==4.9.0
django-storages==1.14.6
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
gunicorn==21.2.0
jmespath==1.0.1
packaging==25.0
pillow==12.0.0
psycopg-binary==3.2.13
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-decouple==3.8
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
whitenoise==6.6.0
