@import "tailwindcss";
@import "swiper/swiper.css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

@theme {
  --font-sans: "Inter";
  --font-serif: "Instrument Serif";
  --color-primary: #27340c;
  --color-primary-hover: #232f0b;
  --color-offwhite: #f2f0ef;
}

@layer components {
  .title {
    @apply text-primary font-serif font-semibold;
  }
}

body {
  color: #222;
}

.swiper {
  padding: 60px 50px !important;
}

.swiper-navigation-icon {
  width: 14px !important;
  color: #757d64;
}

@media (min-width: 768px) {
}

.swiper-pagination-bullet-active {
  background: #27340c !important;
  transform: scale(1.15);
}
